header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #B8B8B8;
}
body{
  margin: 0;
}
footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #B8B8B8;
  height: 10%;
}
.menu-item a {
  text-decoration: none;
  color: #000000;
  margin: 14vh;
  font-size: 18pt;
  font-weight: 600;
}
.menu-list{
  display: flex;
  list-style-type: none;
  padding: 0px;
}
.container{
  position: relative;
  margin: 0 25% 0 25%;
  width: 50%;
  height: 859px;
  max-height: 870px;
  /* background-color: red; */
}
.left{
  justify-content: center;
  text-align: center;
  float: left;
  max-width: 30%;
  /* max-height: 100%; */
  margin-top: 10px;
  padding-right: 10px;
}
.right{
  max-width: 70%;
  max-height: 100%;
  float: right;
}
.right h3{
  margin-bottom: 0;
}
.faqblock-images{
  text-align: center;
}
.faqblock img{
  height: 150px;
}
.news-block img{
  max-width: 500px;
  max-height: 200px;
}
.title{
  text-align: center;
  margin-left: -10%;
}
.FAQ{
  width: 190px;
  height: 170px;
  background-color: #E2E2E2;
  border-radius: 25px;
  text-align: center;
  transform: translateY(-0%);
  visibility: hidden;
}
.FAQ a{
  text-decoration: none;
  color: #000000;
}
.FAQ p{
  margin-top: -5px  ;
  font-weight: 200;
  font-style: italic;
}
.FAQ::after{
  content: 'F.A.Q';
  font-weight: bold;
  background-color: #E2E2E2;
  text-align: center;
  border-radius: 25px;
  padding: 4px 0;
  width: 190px; 
  position: absolute; 
  transform-origin: bottom;
  visibility: visible;
  right: 0;
  top:0;
} 
.FAQ:hover{
  transform: translateX(0%);
  transition: all 0.7s ease 0s;
  visibility: visible;
  border-radius: 10px;
}
.news-block{
  margin-right: 38px;
  margin-bottom: 10px;
  display: inline-block;
  min-width: none;
  min-width: none;
  max-width: 280px;
  max-height: 230px;
  font-size: 10pt;
  background-color: #E2E2E2;
  border-radius: 25px;
  text-align: center;
  overflow: hidden;
}
.news-block a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-style: italic;
}
.Q {
  font-weight: 200;
  font-style: italic;
}
.A{
  font-weight: 500;
}


 /* Header & footer adaptation */
 @media screen and (max-width: 1420px) {
  .menu-item a{
    margin: 5vh;
    font-size: 26pt;
  }
 }
 @media screen and (max-width: 920px) {
  .menu-item a{
    margin: 5vh;
    font-size: 22pt;
  }
 }
 @media screen and (max-width: 820px) {
  .menu-item a{
    margin: 4.5vh;
    font-size: 18pt;
  }
 }
 @media screen and (max-width: 715px) {
  .menu-item a{
    margin: 4vh;
    font-size: 14pt;
  }
 }
 @media screen and (max-width: 570px) {
  .menu-item a{
    margin: 2.5vh;
    font-size: 14pt;
  }
 }
 @media screen and (max-width: 480px) {
  .menu-item a{
    margin: 1vh;
    font-size: 12pt;
  }
 }
 @media screen and (max-width: 440px) {
  .menu-item a{
    margin: 1vh;
    font-size: 12pt;
  }
 }
 @media screen and (max-width: 400px) {
  .menu-item a{
    margin: 0.5vh;
    font-size: 12pt;
  }
}
